body {
  background-color: black;
  text-align: center;
}

#container {
  display: flex;
  background-color: transparent;
  width: 1366px;
  height: 728px;
  margin: 2em;
  gap: 1em;
}
.category {
  display: flex;
  background-color: transparent;
  width: 100%;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: 0.5em;
  background-color: transparent;
}
.question {
  background-color: #041a99;
  color: #e9b45e;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 1em;
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
