* {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  text-transform: uppercase;
  pointer-events: all;
}
body {
  position: fixed;
  background-color: black;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow-wrap: break-word;
  line-height: 1.1;

  letter-spacing: 0.07em;
  text-shadow: 0.2em 0.2em black;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 170vh;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

#titles {
  display: flex;
  background-color: transparent;
  width: 100%;
  height: max-content;
  min-height: 14vh;
  margin: 0;
  padding-inline: 0.5em;
  padding-top: 0.5em;
  gap: 0.5em;
  box-sizing: border-box;
}

.title {
  background-color: #010a78;
  color: white;
  font-family: Haettenschweiler;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  padding: 0.2em;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  flex-basis: 0;
}

#container {
  display: flex;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
  gap: 0.5em;
  padding-inline: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
}

.category {
  display: flex;
  background-color: transparent;
  width: 100%;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: 0.5em;
  background-color: transparent;
  justify-content: center;
}

.qna {
  font-family: ITC Korinna;
  background-color: #010a78;
  color: #d7a04b;
  font-weight: bold;
  font-size: auto;
  padding: 0vh;
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.big {
  transform: scale();
  transition: 1s ease;
  font-size: 4em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20%;
  margin: 0.5em;
  margin: auto;
  width: 170vh;
  height: 100vh;
  box-sizing: border-box;
  z-index: 20;
}
.disabled {
  font-size: 0;
  pointer-events: none;
}

.answer {
  display: none;
}

.question {
  display: none;
}
.hidden {
  height: 0;
  width: 0;
  display: none;
}
.timerButton {
  display: flex;
  position: fixed;
  right: 0;
  z-index: 30;
}
.amount {
  display: inline-flex;
  font-size: 5em;
  font-weight: 100;
  width: 100%;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;

  font-family: Haettenschweiler;

  text-shadow: 0.1em 0.1em black;
  gap: 0.05em;
}

.currency {
  font-size: 0.8em;
}
#buzzers {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  z-index: 50;
}
#buttons {
  display: flex;
  flex-direction: column;
  right: 0;
  z-index: 50;
}
.buzzer {
  font-size: auto;
}
#time {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-shadow: 0 0;
  right: 0;
  z-index: 50;
}
.curtain {
  display: flex;
  width: auto;
  justify-self: stretch;
  flex-grow: auto;
  background-color: black;
  z-index: 49;
}
